@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.container-nav {
  margin: 1rem;
  text-align: center;
}

.App-logo {
  height: 20px;
  pointer-events: none;
}

.nav {
  background: #6b6b6b;
  z-index: 2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  border-bottom: 5px solid #007bff;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 0.2rem;
}
.nav li {
  border-radius: 10px;
  -webkit-transition: 0.5s;
}
.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: rgba(0, 123, 255, 0.2);
}

.App-logo {
  height: 20px;
  pointer-events: none;
}

.container {
  background-color: #e1e1e1;
  height: fit-content;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 3px solid #007bff;
  border-radius: 15px;
  padding: 15px;

  gap: 2rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-signup {
  gap: 0.5rem;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(48, 48, 48);
}

.input-with-label,
.input-with-label {
  display: flex;
  flex-flow: column wrap;
}

label {
  font-size: 0.8rem;
  font-weight: 700;
  padding-left: 10px;
  color: rgb(48, 48, 48);
}

input {
  height: 2.5rem;
  font-size: 1rem;
  color: rgb(48, 48, 48);
  margin-top: 0.5rem;
  padding: 0 15px 0;
  border-radius: 5px;
  border: 2px solid rgba(48, 48, 48, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input:focus {
  border: 2px solid rgba(0, 123, 255, 0.7);
}

.btn-link {
  display: flex;
  justify-content: space-between;
  margin: 1rem 10px 1rem;
}

.btn-link {
  justify-content: space-between;
}

.go-sign-up {
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.5s;
  color: rgb(48, 48, 48);
  cursor: pointer;
}

.go-sign-up:visited {
  color: rgb(48, 48, 48);
}

.go-sign-up:hover {
  color: rgba(0, 123, 255, 0.5);
}

.signin-btn,
.signup-btn {
  background-color: #f5f5f5;
  border: 0;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.5s;
  border-radius: 5px;
  height: 2.5rem;
}
.signin-btn:hover,
.signup-btn:hover {
  background-color: rgb(0, 123, 255);
}

.container-header{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}

.cards {
  position: absolute;
  padding: 4rem;
  left: 0;
  top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1, .add-btn {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgb(0, 123, 255) 10%,
    rgba(11, 140, 199, 0.5) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.add-btn{
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}

.add-btn:hover{
    -webkit-background-clip:initial;
    -webkit-text-fill-color:#e1e1e1;
    transform: scale(1.05, 1.05);
    transition: 0.5s;
}
.container-cards {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact {
  width: 600px;
  height: 200px;
  margin: 1.5rem;
  background: rgba(157, 152, 152, 0.5);
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: none;
  border: 5px solid #007bff;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.contact:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.contact div:nth-of-type(1) {
  width: 20%;
  height: 100%;
  display: flex;
  margin: 0 2rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact div:nth-of-type(1) img {
  height: 60%;
  width: 100%;
  /* align-self: center;
  justify-self: center; */
  border-radius: 100%;
}
.contact div:nth-of-type(1) p {
  font-weight: 700;
  color: #f5f5f5;
  padding: 5px;
  background-color: rgb(228, 73, 73);
  border-radius: 5px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  cursor: pointer;
}
.contact div:nth-of-type(1) p:hover{
  transform: scale(1.2, 1.1);
}


.contact div:nth-of-type(2) {
  background: rgba(0, 123, 255, 0.2);
  padding: 0 10px 0;
  flex: 1;
  margin-right: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  border-radius: 10px;
}

.contact div:nth-of-type(2) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #3d3d3d;
  font-size: 1.5rem;
}

.empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .empty h2 {
    font-size: 1.25rem;
  }

.location{
  cursor: pointer;
}

.leaflet-container{
  height: 50vh;
  width: 50vw;
  z-index: 0;
  border-radius: 15px;
  border: 3px solid #007bff;
}