.App-logo {
  height: 20px;
  pointer-events: none;
}

.container {
  background-color: #e1e1e1;
  height: fit-content;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 3px solid #007bff;
  border-radius: 15px;
  padding: 15px;

  gap: 2rem;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-signup{
  gap: 0.5rem;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(48, 48, 48);
}

.input-with-label,
.input-with-label {
  display: flex;
  flex-flow: column wrap;
}

label {
  font-size: 0.8rem;
  font-weight: 700;
  padding-left: 10px;
  color: rgb(48, 48, 48);
}

input {
  height: 2.5rem;
  font-size: 1rem;
  color: rgb(48, 48, 48);
  margin-top: 0.5rem;
  padding: 0 15px 0;
  border-radius: 5px;
  border: 2px solid rgba(48, 48, 48, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input:focus {
  border: 2px solid rgba(0, 123, 255, 0.7);
}


.btn-link {
  display: flex;
  justify-content: space-between;
  margin: 1rem 10px 1rem;
}

.btn-link {
  justify-content: space-between;
}

.go-sign-up {
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.5s;
  color: rgb(48, 48, 48);
  cursor: pointer;
}

.go-sign-up:visited {
  color: rgb(48, 48, 48);
}

.go-sign-up:hover {
  color: rgba(0, 123, 255, 0.5);
}

.signin-btn, .signup-btn {
  background-color: #f5f5f5;
  border: 0;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.5s;
  border-radius: 5px;
  height: 2.5rem;
}
.signin-btn:hover, .signup-btn:hover {
  background-color: rgb(0, 123, 255);
}


